@import "tailwindcss";

.heart {
  background-color:rgba(165, 42, 42, 0.696);
  width: 100px;
  height: 100px;
  clip-path: path("M50 100 C-60 0 50 -20 50 40 C50 -20 160 0 50 100")
}

.logo {
  background-color: oklch(82.8% 0.189 84.429);
  width: 100px;
  height: 100px;
  clip-path: path("M0 60 40 20 60 40 80 20 100 40 60 80 40 60 20 80Z");
  transform: scale(0.25);
  transition: color 2s ease-in-out;
}

.logo:hover {
  background-color: oklch(74.262% 0.11699 258.299);
  transition: all 0.4s ease-in-out;
}

.navBG {
  width: 600px;
  height: 170px;
  clip-path: path("M0 0 600 0 600 70 Q600 120 550 120 270 120 250 170 250 120 0 120Z");
  transform-origin: center;
}